{{#each posts}}
    <article>
        <h2>{{this.title}}</h2>
        <p>by {{this.user.username}} on {{format_date this.createdAt}}</p>
        <p>{{this.content}}</p>
        {{#if ../logged_in}}
            <a href="/post/{{this.id}}">View Post</a>
        {{/if}}
    </article>
{{else}}
    <p>No blog posts yet!</p>
{{/each}}
